
#bylaws-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.bylaws-link{
    margin: 10px;
    font-size: 18px;
}

.bylaws-info{
    width: 80%;
}

.bylaws-links{
    display: flex;
}

.bylaws-title{
    margin: 15px;
}