.about-content{
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
p{
    margin: 5px;
}

.person{
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: left;
    margin: 10px;
}

.person h4{
    margin: 5px;
}