.Footer {
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkgrey;
}

@media (max-width: 550px){
    .Footer {
        font-size: 10px;
    }
}