.update-notice{
    color: maroon;
}
.schedule-table{
    max-width: 600px;
    width: 85%;
    overflow: auto;
    border-radius: 5px;
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 25px;
}

.schedule-table tr:not(:nth-child(1)):hover{
    background: rgba(0, 135, 252, 0.2);
}
.schedule-table td{
    border: 1px solid black;
    padding: 5px;
}

.td-date{
    color: rgb(91, 91, 91);
    font-size: smaller;
    margin: 0px;
}


.schedule-table th{
    border: 1px solid black;
    border-bottom: 2px solid black;
    padding: 7px;
}


.schedule-table td:first-child{
    text-align: left;
    padding-left: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-width: 0 0 1px 0;
    margin-bottom: -.5px;

}
.schedule-table td a{
    text-decoration: none;
    color: #1A0DAB

}
.grid-display {
    width: 95%;
    display: grid;
}
#schedules-content{
    flex-direction: column;
    align-items: center;
}

#narrow-notice{
    max-width: 500px;
    padding: 5px;
    font-size: 1em;
}

@media screen and (max-width: 680px) {
    .schedule-table td:first-child{
        flex-direction: column;
        align-items: flex-start;
    }
  }